body {
  margin:0;
}
#player {
  background-color:#E0E0E0;
  display: inline-block;
  user-select:none;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
}

img {
  background-color:#E0E0E0;
}

img:hover {
  opacity: 0.7;
}

img, #progressbar-container, #sbar, #sbar-container {
  cursor: pointer;
}

#video-container {
  width:640px;
  height:360px;
}

video {
  width:100%;
  height:100%;
}

#progressbar-container {
  height:5px;
  padding-bottom: 2px;
  background-color: rgb(70,70,70);
}

#progressbar {
  width:50%;
  height:7px;

  background-color: rgb(50,170,220);
}

#buttons-container {
  height:50px;
}

#buttons-container > * {
  display: inline-block;
  vertical-align: middle;
  margin:10 10px;
  padding: 10px;
  height:70%;

}

#time-field {
  font-family: sans-serif;
  line-height: 35px;
}

#sbar-container {
  padding: 0 !important;
  width:100px;
  height:5px;
  background-color: #050505;
  margin-left: 0px;
}

#sbar {
  height:100%;
  width:50px;
  background-color: rgb(50,170,220);
}

#fullscreen-button {
  float:right;
}
